.text-bold{
    font-weight: bold;
}

.hide-mobile{
    @media screen and (max-width: 1024px){
        display: none;
    }
}

.hide-pc{
    @media screen and (min-width: 1025px){
        display: none;
    }
}

.app.back__orange{
    background-color: $orange;

    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/papillon.webp);
        background-repeat: repeat;
        opacity: .04;
        background-size: calc(600px - 2vw);
        z-index: 2;
        background-position: right;
    }

    .relative{
        position: relative;
        z-index: 1;
    }
}

.app.back__black{
    background-color: $black;
}

.pointer{
    cursor: pointer;
}


.text-dec-none{
    text-decoration: none;
}

.txt-white{
    color: $white;
}

.mb{
    margin-bottom: 30px;
}

.bg-orange{
    background-color: $orange;
}

.text-center{
    text-align: center;
}