.cookie-banner{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0;
   
    
    &__container{
        background-color: $orange;
        padding:30px;
        position: relative;
        animation: fadeUp 0.8s ease;
        width: 100vw;
    }

    &__title{
        color: $white;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__text{
        color: $white;
        font-size: 0.9rem;

        span{
            color: $white;
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
        }
    }

    &__button{
        background-color: $white;
        color: $orange;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 800;
        font-family: Poppins, sans-serif;
    }

    a{
        color: $white;
        text-decoration: underline;
    }
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}