.error-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* background-color: #FF1100; */
    color: #343a40;
    font-family: Arial, sans-serif;
    
}

.error-handler div {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}


@media screen and (max-width: 536px) {
    .error-handler div h1 {
        font-size: 18px;
    }
}

.error-handler h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}

.error-handler p {
    font-size: 1.2em;
    margin-top: 0;
    color: white;
}

p.text-big{
    font-size: 1.5em;
}

@media screen and (max-width: 536px) {
    p.text-big{
        font-size: 1.2em;
    }
}

.error-handler-page  .backButton{
    position: relative;
    z-index: 2;
    left: 20px;
}