.admin-home{
    

    .admin-pages{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        max-width: fit-content;
        text-align: center;
        margin: 40px auto;

        a{
            text-decoration: none;
            color: black;
            font-size: 1.2em;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #f0f0f0;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: $orange;
                color: $white;
            }
        }
    }
}


