.production{
    color: white;
    text-align: center;
    min-height: 100vh;
    position: relative;

    .last-next-btns-container.desktop{
        .next,.last{
            transition: opacity 0.3s ease-in-out;
            opacity: 0;

            &:hover{
                opacity: 1;
            }
        }
    }

    .last-next-btns-container{
        padding: 10px 50px;

        @media screen and (max-width:1024px) {
            padding: 10px 10px;
        }

        @media screen and (min-width:1300px) {
            padding: 10px 50px;
            position: fixed;
            top: 50%;
            left: 0;
            width: 100vw;
            z-index: 0;
        }

       
        .next{
            position: absolute;
            right: 1px;
            top: -1px;
            & > a::after{
                content: ">";
            }
        }
        .last{
            position: absolute;
            left: 1px;
            top: -1px;
            & > a::after{
                content: "<";
            }
            }
        }

        .next,.last{
            a::after{
                color: $white;
                font-size: 25px;
                width: 30px;
                height: 30px;
                display: block;
                text-decoration: none;
        }
            @media screen and (min-width:1024px) {
                width: 100px;
                height: 100px;
                display: grid;
                place-items: center;
                transition: all 0.5s ease-in-out;
                // opacity: 0;

                &:hover{
                    opacity: 1;
                }

                a{
                    width: 180%;
                    height: inherit;
                    display: grid;
                    place-items: center;
                    position: relative;
                    z-index: 2;
                }


                a::after{
                        color: $white;
                        font-size: 35px;
                        width: 30px;
                        height: 30px;
                        display: block;
                        text-decoration: none;
                }
            }
            a{
                text-decoration: none;
            }
           
           
           
    }

    &::after{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0,0.6);
        z-index: -1;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(20px);
    }

    

    h1{
        font-size: 2.3rem;
        @extend .poppins-black;
        text-align: center;
        margin-top: 20px;
    }

    h2{
        font-size: 1rem;
        margin-top: 25px;
        font-weight: bold;
        @extend .poppins-bold;
    }
    p{
        font-size: 1.1rem;
        margin: 2px;
    }

    &__imgs{
        display: flex;
        width: fit-content;
        margin: 20px auto;
        gap: 40px;
        flex-wrap: wrap;
        transition: all 0.5s ease-in-out;

        img{
            max-width: 500px;
            width: 500px;
            margin: auto;
           
            @media screen and (max-width: 768px) {
                max-width: 90vw;
                
            }
        }
    }

    .carousel__player{
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;
        top: 0;
        left:0;
    }

    
    .react-player{
        max-width: 90vw;
        max-height: min(50vw,500px);
        margin-top: 100px;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 768px) {
           div{
            margin-top: 50px;
           }
            
            
        }
    }

    &__show-assets{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 50px;
        height: 50px;
        margin: auto;
        border-radius: 50%;
        cursor: pointer;
        transition: all .1s ease-in-out;
        transform: rotate(0deg) scale(0.8);
        
      

        span{
            width: 20px;
            height: 3px;
            display: block;
            margin-top: 20px;
            position: relative;
            transform: rotate(-45deg) translateX(10px) translateY(-5px);
           
            &:last-child{
                transform: rotate(-135deg)  translateX(10px) translateY(5px);
            }
            background-color: $white;
          
        }

        &__off{
            border: 2px solid $white;
            transform: rotate(180deg) scale(0.8);
           
        }

        &__on{
            border: 2px solid $orange;
          
           
            span{
                margin-top: 15px;
                background-color: $orange;
            }
        }

       
    }
    &__project-assets__hidden{
       display: none;
    }

    .staff-list-flex{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px auto;
        width: 80vw;
        &-item{
            flex-basis:400px;
            margin-bottom: 20px;

            @media screen and (max-width: 1517px) {
                flex-basis: calc(30% - 20px);
            }

            ul{
                list-style: none;
            }

            @media screen and (max-width: 1039px) {
                flex-direction: column;
                gap: 10px;
                flex-basis: unset;
                margin-bottom: 0px;    
            }
        }
        @media screen and (max-width: 1039px) {
            flex-direction: column;
            gap: 10px;
        }
        
    }

}


.video__big{
   position: fixed;
   height: 100vh;
   top: 0px;
   min-height: calc(100vh + 60px);
   z-index: -1;

 
    video{
        object-fit: cover;
        height: 100vh;
        min-width: 100vw;
        object-position:50%;
    }

}


.production-fadein{
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 1024px) {
    .CookieConsent{
        flex-direction: column;
        flex: none;
    }
}



@media screen and (min-width: 1024px) {
    .CookieConsent{
        flex-direction: row;
        flex: 1 1 0%;
    }
}


.projet-video{
    position: relative;
    z-index: 1;
    width: fit-content;
    margin: auto;
    .yt-svg{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: fit-content;
        z-index: 20;

        svg{
            fill: $orange;
            transition: fill 0.3s ease-in-out;
            position: relative;
            width: 120px;
            cursor: pointer;
        }
    }

    .yt-svg--hide{
        display: none;
    }

    .spinner{
        svg{
            position: relative;
            top: 50px;
            animation: spin 1s linear infinite;
        }
        
    }
    
}
