.show-pages{
    color: $white;
    background-color: $orange;
    text-align: right;
    padding:24px ;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 11;


     

    &__off{
        transform: translateX(100%);

        & + .show-pages__container{
            transform: translateX(100%);
       }
    }

    &__on{
        transform: translateX(0);   

        & + .show-pages__container{
             transform: translateX(0); 
           
        }
    }

    
}

.show-pages__container{
    transform: translateX(0); 
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 0;
    z-index: 13;
    text-align: right;
    padding-right: min(64px,5vw);
   
    li{
        list-style: none;
        
        a{
            text-decoration: none;
            @extend .poppins-bold;
            font-size: min(10rem,18vw);
            color: transparent;
            -webkit-text-stroke: 2px $white;
            line-height: 0.85;
            transition: color 0.3s ease-in-out;

            @media screen and (max-width: 768px){
                line-height: 1;
            }

            @media screen and (max-width: 600px){
                line-height: 1.2;
            }

            &.active{
                color: $white;
                -webkit-text-stroke: 2px $white;
            }

            &:hover{
                color: $white;
                -webkit-text-stroke: 2px $white;
            }
        }
    }
}